<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<h3 style="text-align: center;">Выполненные задачи</h3>
<div class="navbar-nav me-auto">
    <table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Задача</th>
        <th scope="col">Описание задачи</th>
        <th scope="col">Пользователь</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Выполнена</th>
    </tr>
    </thead>
        <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.id}" />
        <td>
            <a th:text="${task.title}"
               th:href="@{/tasks/desc/{taskId}(taskId=${task.id})}">
            </a>
        </td>
        <td th:text="${task.description}"/>
        <td th:text="${#temporals.format(task.created, 'dd-MMM-yyyy')}"/>
        <td th:text="${task.user.name}"/>
        <td>
            <div class="mb-3" th:if="${task.done}">
                Да
            </div>
            <div class="mb-3" th:if="${!task.done}">
                Нет
            </div>
        </td>
    </tr>
        </tbody>
    </table>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>